<div id="frame">
  <h1>Welcome to BlackJack!</h1><br>

  <div id="get_name">
    <h4>What is your name?</h4>

    <form action="/setname" method="post">
      <input type="text" name="username"/>
      <br>
      <input type="submit" class="btn-success" />
    </form>
  </div>
</div>